<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search</title>
    <%= stylesheet_tag "app" %>
    <%= javascript_tag "app", defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>